.center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 25%;
    }

#container {
    text-align: center;

    position: relative;
    left: 39%;
    right: 25%;
    top: 5%;
}